[submodule "ext/nanovg"]
	path = dep/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "ext/nanosvg"]
	path = dep/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "ext/osdialog"]
	path = dep/osdialog
	url = https://github.com/AndrewBelt/osdialog.git
[submodule "ext/oui-blendish"]
	path = dep/oui-blendish
	url = https://github.com/AndrewBelt/oui-blendish.git
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/rtaudio"]
	path = dep/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "plugins/Alikins-rack-plugins"]
	path = plugins/Alikins-rack-plugins
	url = https://github.com/alikins/Alikins-rack-plugins.git
[submodule "plugins/LFSR"]
	path = plugins/LFSR
	url = https://github.com/alto777/LFSR.git
[submodule "plugins/AmalgamatedHarmonics"]
	path = plugins/AmalgamatedHarmonics
	url = https://github.com/jhoar/AmalgamatedHarmonics.git
[submodule "plugins/ArableInstruments"]
	path = plugins/ArableInstruments
	url = https://github.com/adbrant/ArableInstruments.git
[submodule "plugins/AS"]
	path = plugins/AS
	url = https://github.com/AScustomWorks/AS.git
[submodule "plugins/AudibleInstruments"]
	path = plugins/AudibleInstruments
	url = https://github.com/VCVRack/AudibleInstruments.git
[submodule "plugins/BaconPlugs"]
	path = plugins/BaconPlugs
	url = https://github.com/baconpaul/BaconPlugs.git
